APP_ENV=development
DATABASE_URL="postgresql_uri"
GEMINI_EMBEDDING_API_KEY=API_KEY_HERE
AUTH_JWT_ACCESS_SECRET=SECRET_KEY_HERE
AUTH_JWT_ACCESS_TOKEN_EXPIRES_IN=12h
PORT=8000
FRONTEND_URL=http://localhost:3000
